{% extends 'bonds/base.html' %}

{% block content %}
    
     <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="purple white-text z-depth-2">
      <div class="container">
        <br><br><br>
        {% if not user.is_authenticated %}
        <h1>NS&I Premium Bond Syndicates</h1>
        <p></p>
        {% else %}
        <h1>Welcome back, {{ user.first_name }}.</h1>
        {% endif %}
        <br>
      </div>
    </div>
    
    <div class="container section">
      {% if user.is_authenticated %}
      <!-- Example row of columns -->
      <div class="row">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Your Groups</span>
              <table>
                <tr>
                  <th>Group</th>
                  <th>Winnings</th>
                </tr>
                {% for syndicate in syndicates %}
                <tr>
                  <td><a href="/bonds/syndicate/{{ syndicate.id }}">{{ syndicate.name }}</a></td>
                  <td>£{{ syndicate.winnings }}</td>
                </tr>
                {% endfor %}
            </table>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class ="card">
            <div class = "card-content">
              <span class="card-title">Your Winnings</span>
              <h1>£{{ profile.winnings }}</h1>
            </div>
            <div class="card-action">
              <a href="#" role="button">View details &raquo;</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Create a Syndicate</span>
              <p>Create a syndicate for your friends, family, or colleagues and enjoy all the thrills of premium bonds as a group!</p>
            </div>
            <div class="card-action">
              <a class="btn btn-default" href="syndicate/new" role="button">Create &raquo;</a>
            </div>
          </div>
        </div>
      </div>
      {% else %}
      <div class="row">
           <div class="col-md-12">
             <h1>Group Owned Premium Bonds are Here!</h1>
             <p>
               We've have taken our much loved premium bonds product and made them social! Sign up today and create a premium bond syndicate, allowing you and others to pool money together, purchase bonds and share in the winnings. You'll have much higher chances of winning if you pool your money together with your friends, family, or colleagues. So don't delay, start your own syndicate today!
             </p>
           </div>
    </div>
      {% endif %}
      <hr>

      <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->
   
  {% endblock  %}
